* {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  background-color: black;
  padding: 10px;
}

ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  display: row;
  justify-content: space-evenly;
  text-align: center;
  background-color: black;
}

a.nav-link {
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color: black;
}

/* h1 {
  font-size: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 70px;
} */

.hero-image {
  /* height: auto;
  max-width: 100%; */
  background-image: url();
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 50%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#formfeatures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
